* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100%;
    background: #fff1f0;
    display: flex;
    flex-direction: column; /* Header ve içerik arasındaki düzenleme için */
    align-items: center;
  }
  
  header.başlık {
    position: fixed;
    top: 0;
    width: 100%;

    z-index: 1000; /* Diğer elemanların altında kalmaması için yüksek bir z-index */
   
   
  }
  
 
  
  .page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px; /* Header yüksekliğine göre ayarlandı */
  }
  
  
  
  
  .services-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px; /* Aralık ekleyelim */
    margin-top: 50px; /* Yukarıdan boşluk */
  }
  
  .service {
    flex: 1 0 21%; /* Esnek düzenleme için */
    max-width: 300px; /* Maksimum genişlik */
    margin: 8px;
  }
  
  .flip-box {
    background-color: transparent;
    width: 100%;
    height: 200px;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front,
  .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .flip-box-front {
    background-color: #b31010;
    color: black;
    border-radius: 10px;
  }
  
  .flip-box-front img {
    height: 100px;
    width: 100px;
    border: #000 2px;
  }
  
  .flip-box-back {
    background-color: #ffffff;
    color: #000;
    transform: rotateY(180deg);
    border-radius: 10px;
    padding: 16px;
  }
  
  h2{
    color: yellow;
    font-family: cursive;
  }
  h3{
    color:yellow;
    background-color: #b31010;
    font-size: x-large;
  }